#login-form, #upload-form {
  text-align: center;
  margin: 20px;
}

#upload-form {
  display: none;
}

#video-gallery {
  /* Add your desired styling for the gallery here */
  padding: 10px;
}
#header {
    background-color: #123456;
    padding: 10px;
}

#logo {
    background-color: aquamarine;
}

a h1 {
    background-color: aqua;
    padding-right: 100px;
}

footer {
    text-align: center;
}

#signInForm, #uploadForm {
    margin-bottom: 20px;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    transition: width 0.5s ease;
}

#iframeContainer {
  padding: 10px;
  width: 100%;
}

#iframeContainer iframe{
  width: 568;
  height: 320;
  border-radius: 10%;
}

#iframeContainer iframe :-ms-fullscreen {
size: 100%;
}

h1 {
  size: auto;
  border-radius: 5px;
}