

main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

div#iframes-container.iframes-contaner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: auto;
}

.iframe-wrapper {
    /*display: flex;
    */justify-content: space-between;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-right: 0;
    background-color: #000000;
    min-width: 500px;
    height: auto;
    }

.iframe-wrapper h1 {
    margin: 10px;
    margin-bottom: 0;
    padding: 0;
    border: 10px solid #ccc;
    border-bottom: 0px;
    height: auto;
}

iframe {
    border: 10px solid #ccc;
    border-top: 0px;
    padding: 0;
    height: auto;
}
